body{
    font-family:roboto;
}
.container{
    width:500px;
    margin: 60px auto;
}
.btn{
    background-color:blueviolet;
    color:white;
    padding:12px 30px;
    font-size:22px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bolder;
    align:center;
}
input{
    border: 1px solid #ccc;
    border-radius:10px;
    padding:16px;
    margin-bottom:20px;
    width:100%;
    box-sizing:border-box;
    font-size:17px;
}
input:focus{
    outline:none;
    border: 1px solid blueviolet;

}